<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>controller.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>controller.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>controller.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControl</servlet-name>
        <servlet-class>controller.AddToCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessControl</servlet-name>
        <servlet-class>controller.ProcessControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControl</servlet-name>
        <servlet-class>controller.CheckoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>controller.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>controller.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControl</servlet-name>
        <servlet-class>controller.OrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryControl</servlet-name>
        <servlet-class>controller.OrderHistoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountControl</servlet-name>
        <servlet-class>controller.ListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>controller.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaccount</servlet-name>
        <servlet-class>controller.ListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListItems</servlet-name>
        <servlet-class>controller.ListItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItems</servlet-name>
        <servlet-class>controller.AddItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortControl</servlet-name>
        <servlet-class>controller.SortControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeforeCheckout</servlet-name>
        <servlet-class>controller.BeforeCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemControl</servlet-name>
        <servlet-class>controller.UpdateItemControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemControl</servlet-name>
        <servlet-class>controller.DeleteItemControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControl</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessControl</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControl</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControl</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryControl</servlet-name>
        <url-pattern>/orderhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountControl</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/addaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaccount</servlet-name>
        <url-pattern>/listaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListItems</servlet-name>
        <url-pattern>/listitems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItems</servlet-name>
        <url-pattern>/additems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortControl</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeforeCheckout</servlet-name>
        <url-pattern>/beforecheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemControl</servlet-name>
        <url-pattern>/updateitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemControl</servlet-name>
        <url-pattern>/deleteitem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
